#rota_record {
    /*border: 1px solid black;*/
    width: 700px;
    padding: 2px;
    text-align: center;
}

.rota-record {
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
    height: 118px;
}
.rota-title{
    list-style-type: none;
    float: left;
    border: 1px solid black;
    font-family: "楷体",Times, sans-serif;
    font-size: x-large;
}
.rota-record-date,.rota-record-week,.rota-record-duty,.rota-record-time,.rota-record-others {
    list-style-type: none;
    float: left;
    border: 1px solid black;
    height: 116px;
    font-family: "楷体",Times, sans-serif;
    font-size: x-large;
}

.rota-record-date,.rota-record-duty,.rota-record-others {
    line-height: 120px;
}

.rota-record-date {
    width: 100px;
}

.rota-record-time,.rota-record-others {
    width: 71px;
}

.rota-record-week {
    /*星期文字竖排*/
    writing-mode: tb-rl;
    width: 40px;
    line-height: 40px;
}

.rota-record-time-cont {
    float: left;
    list-style-type: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    height: 27px;
    width: 70px;
    font-family: "楷体",Times, sans-serif;
}

.rota-record-duty {
    width: 407px;
}

.rota-record-duty-row {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    height: 25px;
    width: 450px;
}

.rota-record-duty-col {
    text-align: center;
    float: left;
    border: 1px solid black;
    height: 25px;
    width: 100px;
    font-family: "宋体",Times, sans-serif;
    font-size: x-large
}

.hoilday {
    background-color: grey;
}
