table{
    border-collapse:collapse;
  }
  
td{
    border: 1px solid black;
    text-align:center;
    vertical-align:middle;
    height:45px;
  }
  
  td.title{
    font-family:"宋体",Times, sans-serif;
    font-weight:bold;
  }
  
  td.content{
    font-family:"宋体",Times, sans-serif;
  }
  
  .date-weekend{
    font-family:"Times New Roman", Times, sans-serif;
    text-decoration: underline;
    font-weight:bold;
  }
  
  .date-weekday{
      font-family:"Times New Roman", Times, sans-serif;
  }